<html>
  <head>
    <style>
      body {
            <%= colorize %>
           }
    </style>
  </head>
  <body>
    <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
    </p>
  </body>
</html>



